@model IEnumerable<MvcAuthentication.Core.State.LevelProgressState>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!<br />Your Levels:</h1>
    <div class="d-flex flex-wrap justify-content-evenly p-2 buttons-container">
    @foreach(var level in Model)
    {
            if (level.IsFinished)
            {
                <div class="btn btn-dark disabled btn-lg my-5 shadow">@level.Level.LevelName</div>
            }
            else
            {
                <a class="btn btn-dark btn-lg my-5 shadow" asp-controller="Level" asp-action="GetLevel" asp-route-id="@level.Id">@level.Level.LevelName</a>
            }
    }
    </div>
</div>
