@model IEnumerable<MvcAuthentication.Core.State.LevelProgressState>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!<br />Your Levels:</h1>
    @foreach(var level in Model)
    {
        <h5>@level.LevelName</h5>
    }
</div>
